.car .button {
  border-radius: 3px;
  background-color: green;
  width: 200px;
  height: 30px;
  margin-left: 23%;
}

.car h2 {
  margin-top: 10px;
}

.plan-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 170px;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.plan-speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 10px auto;
  color: red;
}

.plan-content .desc {
  font-size: 0.8rem;
  text-align: center;
  width: 200px;
}

.plan-content .value {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}